<div class="text-center mt-5">
    <h1>All Questions</h1>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Question</th>
            <th scope="col">Category</th>
            <th scope="col">Difficulty</th>
            <th scope="col">Option1</th>
            <th scope="col">Option2</th>
            <th scope="col">Option3</th>
            <th scope="col">Option4</th>
            <th scope="col">Correct Answer</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ques of questions">
                <td>{{ques.questionId}}</td>
                <td>{{ques.questionString}}</td>
                <td>{{ques.category}}</td>
                <td>{{ques.difficulty}}</td>
                <td>{{ques.option1}}</td>
                <td>{{ques.option2}}</td>
                <td>{{ques.option3}}</td>
                <td>{{ques.option4}}</td>
                <td>{{ques.correctAnswer}}</td>
                <td> <button type="button" class="btn btn-success"routerLink="/updateQuestion/{{ques.questionId}}">Edit</button></td>
                <td> <button type="button" class="btn btn-danger"(click)="deleteQuestions(ques.questionId)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
