<div class="text-center mt-5">
    <h1>Update Question</h1>
</div>
<div class="container mt-5">
    <div class="card" style="padding: 20px;">
<div style="width: 400px; margin: auto;">   
        <form #questionForm="ngForm" (ngSubmit)="questionForm.form.valid && updateQuestion(questionForm)">
            <div class="form-group">
                <input type="number"
                  [(ngModel)] = "question.questionId"
                  name="questionId"
                  hidden
                  id="questionId"
                  #questionId="ngModel"
                  class="form-control"/> 
              </div>
        <div class="form-group">
          <label for="questionString" class="font-weight-bold">Question</label>
          <input type="text"
          [(ngModel)] = "question.questionString"
            name="questionString"
            id="questionString"
            placeholder="Enter Question"
            #questionString="ngModel"
            [ngClass]="{'is-invalid': questionForm.submitted && questionString.invalid}"
            class="form-control" required/> 
            <div *ngIf= "questionForm.submitted && questionString.invalid">
                <div *ngIf= "questionString.errors" class="text-danger">Question is not valid</div>
            </div>
        </div>
  
        <div class="form-group">
            <label for="category" class="font-weight-bold">Category</label>
            <input type="text"
            [(ngModel)] = "question.category"
              name="category"
              id="category"
              placeholder="Enter your category"
              #category="ngModel"
              [ngClass]="{'is-invalid': questionForm.submitted && category.invalid}"
              class="form-control" required/>
              <div *ngIf= "questionForm.submitted && category.invalid">
                <div *ngIf= "category.errors" class="text-danger">password is not valid</div>
            </div>
        </div>
       

        <div class="form-group">
            <label for="difficulty" class="font-weight-bold">Difficulty</label>
            <input type="number"
            [(ngModel)] = "question.difficulty"
              name="difficulty"
              id="difficulty"
              placeholder="Enter your difficulty level in number 1-3"
              #difficulty="ngModel"
              [ngClass]="{'is-invalid': questionForm.submitted && category.invalid}"
              class="form-control" required/>
              <div *ngIf= "questionForm.submitted && category.invalid">
                <div *ngIf= "category.errors" class="text-danger">password is not valid</div>
            </div>
        </div>
        <div class="form-group">
            <label for="option1" class="font-weight-bold">Option1</label>
            <input type="text"
            [(ngModel)] = "question.option1"
              name="option1"
              id="option1"
              placeholder="Enter your option1"
              #option1="ngModel"
              [ngClass]="{'is-invalid': questionForm.submitted && option1.invalid}"
              class="form-control" required/>
              <div *ngIf= "questionForm.submitted && option1.invalid">
                <div *ngIf= "option1.errors" class="text-danger">password is not valid</div>
            </div>
        </div>
        <div class="form-group">
            <label for="option2" class="font-weight-bold">Option2</label>
            <input type="text"
            [(ngModel)] = "question.option2"
              name="option2"
              id="option2"
              placeholder="Enter your option2"
              #option2="ngModel"
              [ngClass]="{'is-invalid': questionForm.submitted && option2.invalid}"
              class="form-control" required/>
              <div *ngIf= "questionForm.submitted && option2.invalid">
                <div *ngIf= "option2.errors" class="text-danger">password is not valid</div>
            </div>
        </div>
        <div class="form-group">
            <label for="option3" class="font-weight-bold">Option3</label>
            <input type="text"
            [(ngModel)] = "question.option3"
              name="option3"
              id="option3"
              placeholder="Enter your option3"
              #option3="ngModel"
              [ngClass]="{'is-invalid': questionForm.submitted && option3.invalid}"
              class="form-control" required/>
              <div *ngIf= "questionForm.submitted && option3.invalid">
                <div *ngIf= "option3.errors" class="text-danger">password is not valid</div>
            </div>
        </div>
        <div class="form-group">
            <label for="option4" class="font-weight-bold">Option4</label>
            <input type="text"
            [(ngModel)] = "question.option4"
              name="option4"
              id="option4"
              placeholder="Enter your option4"
              #option4="ngModel"
              [ngClass]="{'is-invalid': questionForm.submitted && option4.invalid}"
              class="form-control" required/>
              <div *ngIf= "questionForm.submitted && option4.invalid">
                <div *ngIf= "option4.errors" class="text-danger">password is not valid</div>
            </div>
        </div>
        <div class="form-group">
            <label for="correctAnswer" class="font-weight-bold">Correct Answer</label>
            <input type="text"
            [(ngModel)] = "question.correctAnswer"
              name="correctAnswer"
              id="correctAnswer"
              placeholder="Enter your correctAnswer"
              #correctAnswer="ngModel"
              [ngClass]="{'is-invalid': questionForm.submitted && correctAnswer.invalid}"
              class="form-control" required/>
              <div *ngIf= "questionForm.submitted && correctAnswer.invalid">
                <div *ngIf= "correctAnswer.errors" class="text-danger">password is not valid</div>
            </div>
        </div>
        <div class="text-center">
        <button class="btn btn-success mt-2">Submit</button>
        </div>
        </form>
</div>
</div>
</div>

